// FONTS VARIABLES

$font--default-size: 16px;
$font--h1: 48px;
$font--h2: 36px;
$font--h3: 24px;
$font--h4: 20px;
$font--weight-light: 300;
$font--weight-bold: 600;

// COLORS

$color--orange: #ff5421;
$color--gray: #f9f7f8;
$color--black: #101010;
$color--blue: #031a3d;
$color--dark-gray: #333333;
$color--white: #fff;
$color--light-gray: #f0ecee;
