.section-admin {
  padding: 50px 0 50px 0;

  &:first-of-type {
    padding-top: 100px;
  }
}
.admin__title {
  margin-bottom: 20px;
}
.admin__users-container {
  @include breakpoint("touch") {
    overflow: scroll;
  }
}

.admin__info-box {
  background-color: $color--gray;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  cursor: pointer;
  margin-right: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.3s ease-out;
  @include breakpoint("phone") {
    width: 150px;
    height: 150px;
    margin-right: 10px;

    &:hover {
      transform: translateY(0);
    }
  }

  &:hover {
    transform: translateY(-10px);
  }
}

.admin__info-title {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
}

.admin__row {
  @include breakpoint("phone") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.admin__button {
  padding: 14px 16px;
  background: $color--orange;
  border: 1px solid transparent;
  color: $color--gray;
  margin-right: 20px;

  &:hover {
    border: 1px solid $color--dark-gray;
  }
}
